@media (min-width: 768px) {
  .topo ul {
    display: flex;
  }
  .fas {
    visibility: hidden;
  }
  .secaoDestaque h2 {
    font-size: 63px;
  }
  .secaoDestaque {
    background-image: url(/assets/img/background-destaque.webp);
    background-size: cover;
  }
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .flex-col {
    flex-direction: column;
    display: flex;
  }
  .flex-col:nth-child(4) {
    text-align: left;
  }
  .flex-col:nth-child(1) {
    align-items: flex-start;
  }
  .flex-col img {
    width: 250px;
  }
  .flex-col h2 {
    text-align: left;
    padding-top: 25px;
  }
  .secaoCursos li {
    flex: 1 1 33%;
  }
  .calendario {
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .secaoCalendar ul li {
    width: 200px;
  }
  .flex1 {
    flex-direction: row;
    padding-bottom: 50px;
  }
  .flex-col1 {
    width: 400px;
  }
  .secaoContato h2 {
    position: relative;
    left: 2.8%;
  }
  .form_section_input {
    display: flex;
  }
  .form-input-model input {
    width: 200px;
  }
  .form-input-model textarea {
    width: 99%;
    height: 115px;
  }
  input[type="submit"] {
    margin: unset;
    left: 84%;
  }
  input {
    margin-right: 5px;
  }
  .flex-col1 {
    align-items: flex-start;
  }
  .flex-col1:nth-child(2) {
    justify-content: start;
  }
}
