* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Lato", sans-serif;
  background-color: white;
}

.topo {
  background-color: #00043e;
}

.large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.large-container img {
  width: 100%;
  border: 1px solid transparent;
}

.large-container img:hover {
  border-radius: 100px;
  background-color: #1b238b;
  cursor: pointer;
  border: 1px solid white;
}

.large-container figure {
  width: 50px;
  margin: 10px;
  padding: 0;
}

figcaption {
  display: none;
}

.large-container ul {
  display: none;
  list-style-type: none;
  font-size: 13px;
}

.large-container li {
  padding: 10px;
}

.large-container li:hover {
  border-radius: 100px;
  background-color: #1b238b;
}

.large-container a {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px;
}

.secaoDestaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00043e;
  color: white;
}

.secaoDestaque h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 100;
  text-align: center;
}

.secaoDestaque p {
  font-size: 21px;
  font-family: "Montserrat", sans-serif;
}

.secaoDestaqueFormulario {
  padding: 20px 0 100px 0;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secaoDestaqueFormulario button {
  margin: 0;
  padding: 0;
  color: white;
  border: none;
  background-color: #007aff;
  font-size: 14px;
  border-radius: 0 3px 3px 0;
  padding: 4.5px;
}

.secaoDestaqueFormulario button:hover {
  opacity: 0.8;
  cursor: pointer;
  color: #00043e;
}

.secaoDestaqueFormulario input {
  border-radius: 3px 0 0 3px;
  border: none;
  padding: 5px;
}

::-webkit-input-placeholder {
  color: #303030;
  font-family: "Lato", sans-serif;
}

.flex-col {
  padding: 40px;
  line-height: 200%;
}

.flex-col:nth-child(2) {
  line-height: 200px;
}

.flex-col:nth-child(3) {
  padding-bottom: 0;
}

.flex-col:nth-child(4) {
  padding-top: 0;
  text-align: center;
}

.flex-col img {
  width: 150px;
}

.flex-col figure {
  margin: 0;
}

.flex-col figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-col:nth-child(3) {
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

.flex-col:nth-child(4) {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: initial;
  text-align: center;
}

.flex-col span {
  color: #303030;
}

.flex-col button {
  border-radius: 5px;
  border: 0.5px solid #303030;
  color: #303030;
  padding: 10px 90px;
  background-color: transparent;
  margin-top: 50px;
}

.flex-col button:hover {
  background-color: #f6f6f6;
  border: 1.5px solid black;
  cursor: pointer;
}

.flex-col li {
  text-align: left;
  color: #303030;
}

.fas {
  padding-right: 30px;
  opacity: 1;
}

.fas:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (min-width: 768px) {
  .large-container {
    width: 1024px;
    margin: auto;
  }
  .large-container ul {
    display: flex;
    justify-content: space-between;
  }
  .secaoDestaque {
    background-image: url("/assets/img/background-destaque.webp");
    background-size: cover;
  }
  .secaoDestaque h2 {
    font-size: 63px;
  }
  .flex-col {
    width: 40vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .flex-col:nth-child(1) {
    align-items: baseline;
  }
  .flex-col:nth-child(4) {
    text-align: left;
  }
  .fas {
    visibility: hidden;
  }
  .flex-col:nth-child(3) {
    padding-bottom: 0;
  }
}
