:root {
  --dark-grey: #303030;
  --light-grey: #818181;
  --dark-blue: #00043e;
  --light-blue: #007aff;
}

figcaption {
  display: none;
}

body {
  min-width: 320px;
  font-family: "Lato";
  margin: auto;
}

/* MENU DE NAVEGAÇÃO */

.topo {
  background-color: #00043e;
}

.large-container {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  margin: auto;
}

.topo ul {
  display: none;
}

.topo li {
  list-style-type: none;
  padding: 10px;
}

.topo a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.topo img {
  width: 50px;
  padding: 10px;
}


.fas {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 7%;
  top: 3%;
}

/* PÁGINA INICIAL */

.secaoDestaque {
  background-color: #00043e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 400px;
  justify-content: space-around;
}

.secaoDestaque p {
  font-size: 21px;
  font-family: "Lato", sans-serif;
}

.secaoDestaque h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  margin: 0 19px 0 10px;
}

.secaoDestaqueFormulario {
  padding: 20px 0 100px 0;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secaoDestaqueFormulario button {
  color: white;
  border: none;
  background-color: #007aff;
  font-size: 14px;
  border-radius: 0 3px 3px 0;
  padding: 7px;
  font-family: "Lato";
}

.secaoDestaqueFormulario input {
  border-radius: 3px 0 0 3px;
  border: none;
  padding: 5px;
}

::-webkit-input-placeholder {
  color: #818181;
  font-family: "Lato", sans-serif;
}

/* Página Inicial */
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  margin: auto;
  max-width: 1045px;
}

.flex-col {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  line-height: 30px;
}

.flex-col h2 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin: 35px 25px 0 25px;
  color: var(--dark-grey);
}

.flex-col p {
  margin: 25px;
  color: var(--dark-grey);
  font-size: 19px;
}

.flex-col span {
  margin: 25px;
  color: var(--light-grey);
  font-size: 19px;
}

.flex-col ul {
  text-align: left;
  list-style-type: initial;
  margin: 50px;
  color: var(--light-grey);
}

.flex-col img {
  width: 150px;
}

.flex-col:nth-child(1) {
  margin: 25px;
}

.flex-col:nth-child(2) {
  margin: 25px 25px 55px 25px;
}

.flex-col:nth-child(3) {
  background-color: #f6f6f6;
  margin: 0;
  padding: 55px 0 0 0;

  width: 100%;
  height: 100%;
}

.flex-col:nth-child(4) {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: initial;
  text-align: center;
  width: 100%;
  height: 100%;
}

.flex-col button {
  border-radius: 5px;
  border: 0.5px solid #cbc7c7;
  color: var(--dark-grey);
  padding: 5px 70px;
  background-color: transparent;
  margin: 25px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}



/* SEÇÃO CURSOS */

.secaoCursos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 70px 0 25px 0;
  margin: auto;
  max-width: 1024px;
}

.secaoCursos ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.secaoCursos li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.secaoCursos h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: bold;
}
.secaoCursos  p {
  margin: 25px 0 25px 0;
  color: var(--dark-grey);
  font-family: "Lato", sans-serif;
}  

.secaoCursos ul li p {
  margin: 25px 0 25px 0;
  color: var(--light-grey);
  font-family: "Lato", sans-serif;
  font-size: 15px;
}


.secaoCursos h3 {
  margin: 10px 0 10px 0;
  font-weight: bold;
}

.secaoCursos img {
  width: 125px;
  max-width: 150px;
}

.medium-img{
  margin-top: 60px;
}

/* CALENDARIO */

.secaoCalendar {
  margin: auto;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.schedule {
  text-align: center;
}

.schedule h2 {
  font-size: 21px;
  font-weight: bold;
  margin: 25px;
  
}

.schedule p {
  font-size: 19;
}

.calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
}

.secaoCalendar p {
  font-size: 15px;
  text-align: center;
  color: var(--dark-grey);
}

.secaoCalendar h2 {
  font-size: 19px;
  text-align: center;
  color: var(--dark-grey);
  font-family: "Montserrat", sans-serif;
  margin-top: 100px;
}

.secaoCalendar h3 {
  text-align: center;
}

.calendario-data {
  text-align: center;
  background: #00043e;
  color: white;
  font-size: 36px;
  height: 80px;
  line-height: 80px;
}

.calendario-data-rodape {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  align-items: center;
  border-top: rgb(204, 206, 206) solid 1px;
}

.secaoCalendar ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--dark-blue) solid 1px;
  width: 180px;
  margin: 20px 0 20px 0;
  font-family: "Lato", sans-serif;
}

.secaoCalendar h3 {
  font-size: 19px;
  margin-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.secaoCalendar p {
  font-size: 15px;
  color: var(--light-grey);
}

.calendario-data-rodape button {
  font-size: 32px;
  padding: 10px;
  background: #007aff;
  border: none;
  color: white;
  width: 150px;
  font-family: "Lato", sans-serif;
  border-radius: 5px;
}

.calendario-data-rodape span {
  margin-bottom: 15px;
  margin-top: 28px;
  font-size: 19px;
  color: var(--light-grey);
}

/* SECAO CONTATO */

.secaoContato {
  background-color: #f6f6f6;
  font-family: "Lato";
  margin: auto;
}

.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  max-width: 100%;
  font-size: 15px;
}

.flex-col1 {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 250px;
}

.flex-col1 li {
  line-height: 50px;
}

.secaoContato-informacoes a {
  color: var(--light-grey);
}

.secaoContato h2 {
  font-size: 21px;
  text-align: center;
  font-family: "Montserrat";
  color: #303030;
  font-weight: bold;
  line-height: 50px;
  padding: 25px 0 25px 0;

}

.secaoContato p {
  color: var(--light-grey);
}

.hidden {
  display: none;
}

.form-input-model input {
  width: 220px;
  margin: 10px;
  border: #cbc7c7 solid 1px;
  border-radius: 3px;
}

.form-input-model textarea {
  width: 220px;
  height: 100px;
  margin: 10px;
  border: #cbc7c7 solid 1px;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: white;
  padding: 0px 10px 0px 10px;
  border: 0.5px solid #cbc7c7;

  border-radius: 3px;
  position: relative;
  left: 75%;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
}
