@media (min-width: 768px) {
  .topo ul {
    display: flex;
  }
  .fas {
    visibility: hidden;
  }
  .secaoDestaque h2 {
    font-size: 63px;
  }
  .secaoDestaque {
    background-image: url(/assets/img/background-destaque.webp);
    background-size: cover;
  }
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .flex-col {
    flex-direction: column;
  }
  .flex-col:nth-child(4) {
    text-align: left;
  }
  .flex-col:nth-child(1) {
    text-align: left;
  }
  .flex-col h2 {
    text-align: left;
    padding-top: 25px;
  }
  .secaoCursos li {
    flex: 1 1 33%;
  }
  .calendario {
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .secaoCalendar ul li {
    width: 200px;
  }
  .flex1 {
    flex-direction: row;
  }
  .form_section_input {
    display: flex;
  }
  .form-input-model input {
    width: 300px;
    margin-right: 10px;
  }
  .form-input-model textarea {
    width: 98.5%;
  }
  input[type="submit"] {
    right: -88.5%;
  }
  .secaoContato h2 {
    position: relative;
    top: -100px;
    left: 403px;
  }
  .flex-col1:nth-child(2) {
    width: 100%;
    padding: 0;
  }
}
